<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8">
    <title>Aktualizuj dane autora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/aktualizuj_autor}" >
    <table>
        <tr>
            <td><input type="hidden" name="id_ksiazka" th:field="*{book.id_ksiazka}"></td>
        </tr>
        <tr>
            <td>Podaj imię autora</td>
            <td><input name ="imie" th:field="*{author.imie}"></td>
        </tr>
        <tr>
            <td>Podaj nazwisko autora</td>
            <td> <input name="nazwisko" th:field="*{author.nazwisko}"></td>
        </tr>
        <tr>
            <td>Podaj liczbę publikacji autora</td>
            <td><input name="liczbaPublikacji" th:field="*{author.liczbaPublikacji}"></td>
        </tr>
        <tr>
            <td>Podaj numer telefonu do autora</td>
            <td><input name="telefonAutora" th:field="*{author.telefonAutora}">
            <input type="hidden" name="id_autor" th:field="*{author.id_autor}"></td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="submit">
            </td>
        </tr>
    </table>
</form>

</body>
</html>