<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zbiory księgarni</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/mainStyle.css" th:href="@{/mainStyle.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/mainStyle.css" type="text/css">
    <!--    <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous"> -->
    </head>
    <body>

    <!--<img id = "logo" src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/52608701_2027332637379874_2269204799285100544_o.jpg?_nc_cat=106&_nc_ht=scontent.fwaw3-1.fna&oh=2b9b4e282b88a7064ee1bee4dc1b9e46&oe=5D27EE7E">
    -->
<nav class="navbar navbar-brown">
    <div class="navbar-brand">
        <!--  <a href="index.html">
          </a>-->
      </div>
      <ul>
          <li>
              <a href="/">Strona główna</a>
          </li>
          <li>

              <a th:href="${'/pokaz2'}">Zbiory</a>
          </li>
          <li>
              <a th:href="${'/form'}">Dodaj książkę</a>
          </li>
          <!--       <li>
                     <a th:href="${'/else/aboutUs'}">O nas</a>
                 </li>
          -->
    </ul>
</nav>

       <div class="container">


           <div class="inline-tile-box" th:each="wpis : ${book}">
               <div class="tile">
                   <div class="tile-header"><p th:text="|${wpis.tytul}|"> </p></div>
                   <!--<div width="300px" high="300px">-->
                   <!-- <img src="" th:src="@{${post.foto}}" else ="img-fluid" width="300px"  height="300px">-->
                   <!--</div>-->
            <table class="tile-description">
                <tbody>
                <tr>
                    <td>Cena: </td>
                    <td><p th:text="|${wpis.cenaZaKsiazke}|"> </p></td>
                </tr>
                <tr>
                    <td>Liczba egzemplarzy: </td>
                    <td><p th:text="|${wpis.liczbaEgzemplarzy}|"> </p></td>
                </tr>
                <tr>
                    <td>Rok wydania: </td>
                    <td> <p th:text="|${wpis.rokWydania}|"> </p></td>
                </tr>
                </tbody>
            </table>

            <div class="tile-action">
              <!--  <i class="fas fa-search"></i><a th:href="${'/posts/' + post.id}"> Pokaż szczegóły</a> -->
            </div>
        </div>

    </div>
    <!--<div class="card mb-4 shadow-sm">-->
    <!--<div class="card-header">-->
    <!--<h4 class="my-0 font-weight-normal">Free</h4>-->
    <!--</div>-->
    <!---->

    <!--<div class = "cad-body">-->
    <!--<h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>-->
    <!--<ul class="list-unstyled mt-3 mb-4">-->
    <!--<li>10 users included</li>-->
    <!--<li>2 GB of storage</li>-->
    <!--<li>Email support</li>-->
    <!--<li>Help center access</li>-->
    <!--</ul>-->
    <!--<button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>-->
    <!--</div>-->
    <!--</div>-->

</div>

<footer>
    <p>Copyright © 2020</p>
</footer>
</body>
</html>