<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8">
    <title>Dane autorów książki</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p> <h2 align="center">Dane autora/ów</h2></p> <br>
<table class="table table-striped">
    <tr><th>Imie</th><th>Nazwisko</th><th>Liczba publikacji</th><th>Numer telefonu</th><th class="text-center">Kasuj ?</th><th class="text-center">Aktualizuj</th></tr>
    <tr th:each ="wpis: ${author}">
        <td th:text="${wpis.imie}">Imie</td>
        <td th:text="${wpis.nazwisko}">Nazwisko</td>
        <td th:text="${wpis.liczbaPublikacji}">Liczba publikacji</td>
        <td th:text="${wpis.telefonAutora}">Numer telefonu</td>
        <td align="center"><a href="#" th:href="@{/kasuj_autor(id_autor=${wpis.id_autor}, id_ksiazka=${book.id_ksiazka})}" class="btn btn-danger" >
            <i class="fa fa-trash-o fa-lg" ></i>Kasuj</a></td>
        <td align="center"><a href="#" th:href="@{/przekieruj_autor(id_autor=${wpis.id_autor}, id_ksiazka=${book.id_ksiazka})}" class="btn btn-primary" >
            <i class="fa fa-trash-o fa-lg" ></i>Aktualizuj </a></td>
    </tr>
</table>

<a href="#" th:href="@{/dodaj_autor(id_ksiazka=${book.id_ksiazka})}"  >
    <i class="fa fa-trash-o fa-lg" ></i>Dodaj autora</a>
<br>
<a href="#" th:href="@{/pokaz2}"  >
    <i class="fa fa-trash-o fa-lg" ></i>Powrót</a>


<table>
    <tr><input type="text" name="id_ksiazka" id="bookId_ksiazka"  hidden th:value="${book.id_ksiazka}" > </tr>
</table>


</body>
</html>