<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p> <h2 align="center">Dane autora/ów</h2></p> <br>
<table class="table table-striped">
    <tr><th>Imie</th><th>Nazwisko</th><th>Liczba publikacji</th><th>Numer telefonu</th></tr>
    <tr th:each ="wpis: ${author}">
        <td th:text="${wpis.imie}">Imie</td>
        <td th:text="${wpis.nazwisko}">Nazwisko</td>
        <td th:text="${wpis.liczbaPublikacji}">Liczba publikacji</td>
        <td th:text="${wpis.telefonAutora}">Numer telefonu</td>
    </tr>
</table>

<a href="#" th:href="@{/pokaz2}" class="btnbtn-primary" >
    <i class="fa fa-trash-o fa-lg" ></i>Powrót</a>


</body>
</html>