<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p align="center"> <h2>Zbiory księgarni</h2></p> <br>
<table class="table table-striped">
    <tr><th>Tytuł</th><th>Rok wydania</th><th>Numer ISBN</th><th>Liczba egzemplarzy</th><th>Cena za książkę [zł]<th>Kasuj ?</th><th>aktualizuj</th></tr>
    <tr th:each="wpis: ${book}" >
        <td th:text="${wpis.tytul}">Tytuł</td>
        <td th:text="${wpis.rokWydania}">Rok wydania</td>
        <td th:text="${wpis.isbn}">Numer ISBN</td>
        <td th:text="${wpis.liczbaEgzemplarzy}">Liczba egzemplarzy</td>
        <td th:text="${wpis.cenaZaKsiazke}">Cena za książkę</td>
        <td><a href="#" th:href="@{/kasuj(id_ksiazka=${wpis.id_ksiazka})}" class="btn btn-danger" >
            <i class="fa fa-trash-o fa-lg" ></i>Kasuj</a></td>
        <td><a href="#" th:href="@{/przekieruj(id_ksiazka=${wpis.id_ksiazka})}" class="btnbtn-primary" >
            <i class="fa fa-trash-o fa-lg" ></i>Aktualizuj </a></td>


    </tr>
</table>

<table class="table table-striped">
    <tr><td> Wyszukaj książkę wg roku wydania</td>
        <td><form action="http://localhost:8080/wyszukaj"><input name="kryterium"></td>
        <td><input type="submit"></form></td></tr>
</table>

</body>
</html>